# Visual Studio
.vs/

# Build folders
bin/
obj/

# User files
*.user
*.rsuser
*.suo

# Visual Studio settings
*.userosscache
*.sln.docstates

# Logs
*.log

# Test Results
TestResults/

# VS Code
.vscode/

# Rider
.idea/
